body
  background:  white
  font-family: Arial, Helvetica, sans-serif

#login-buttons
  display:  inline-block
  position: absolute
  right:    10px
  top:      15px

header
  width:   80%
  display: inline-block

  h1, h2, h3, h4, h5
    margin-bottom: 0
    margin-top:    5px

  p
    font-size:  10pt
    color:      colours.primary.dark
    margin-top: 0