body
  .navbar
    +loginButtons

  header
    h1 Toothbrush
    p What's up?

  h2 Questions

  ol
    each questions
      li
        +question

  form.new-question
    label
      div New question
      input(type='text' name='text' placeholder='New question ...')

    label
      div Topic
      select(name='topic')
        option(value='') Select or add new
        each topics
          +topic

      input(type='text' name='newTopic' placeholder='Add new topic ...')

    button(type='submit') Submit

template(name='question')
  .question #{text}
    .topic #{topic}

template(name='topic')
  option(value='#{value}') #{value}