body
  .navbar
    +loginButtons

  header
    h1 Toothbrush
    p What's up?

  form.new-response
    h2 New response

    each questions
      +askQuestion

    button(type='submit') Submit

  h2 Questions

  ol
    each questions
      li
        +question

  form.new-question
    label
      div New question
      input(type='text' name='text' placeholder='New question ...')

    label
      div Topic
      select(name='topic')
        option(value='') Select or add new
        each topics
          +topic

      input(type='text' name='newTopic' placeholder='Add new topic ...')

    button(type='submit') Submit

template(name='askQuestion')
  label #{text}
    input(type='text' name='#{_id}' id='#{_id}')