.panel
  h2 Questions

  form.new-question
    label
      h3.label-text New question
      textarea(name='text')

    label
      .label-text Answer type
      select.question-type(name='type')
        each questionTypes
          +questionType

    if questionIsRange
      label
        .label-text Minimum
        input(type='number' name='min' value='1')

      label
        .label-text Maximum
        input(type='number' name='max' value='10')

    label
      .label-text Topic
      select(name='topic')
        option(value='') Select or add new
        each topics
          +topic

      input(type='text' name='newTopic' placeholder='Add new topic ...')

    button(type='submit') Submit

  h3 All questions

  ol.question-list
    each questions
      li
        +question
